* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

/*ul {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background: aliceblue;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 0 8%;*/
/*}*/

ul li {
    position: relative;
    float: left;
}

ul li a {
    padding: 15px;
    color: black;
    font-size: 16px;
    display: block;
}

ul li a:hover {
    background: black;
    color: white;
}

ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: white;
    display: none;
}

ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}

ul li:hover > ul {
    display: initial;
}